 
   <td class="tr">{{date}}</td>
   <td>{{user}}</td>
    <td>{{sender}}</td>
    <td>{{resiver}}</td>
    <td>{{amount}}</td>
    <td>{{description}}</td>

    {{#if isLoggedIn}}
    {{#if isOwner}}

     <td><a class="btnAction" href="/editPay/{{id}}">Edit</a></td>
    <td><a class="btnAction" href="/delete/{{id}}">Delete</a></td>
    
    {{else}}

    {{#if hasVoted}}
        <div class="social-btn">
          <td class="thanks-for-vote">Done!</td>
            {{else}}
         <!-- Only for registered user and author of the post -->
        <td><a  class="btnAction" href="/vote/{{id}}/approve" class="vote-up">Approved</a></td> 
        <td> <a  class="btnAction" href="/vote/{{id}}/disapproved" class="vote-down">Disapproved</a></td> 
               <!-- logged in user who has already voted-->
      </div>
   {{/if}}
   {{/if}}
            <td><p class="PV">Votes: {{rating}} </p>
            {{#if votes}}
   <p>Users who voted: {{#each votes}}{{email}}{{/each}}</p>
   {{else}}
   <p>No one has voted yet.</p>
          </td>   
          {{/if}}
{{/if}}

