<table>
    <tr>
         <p>From</p>
        <th>{{sender}}</th>
        <p>to</p>
        <th>{{resiver}}</th>
        <p>amount</p>
        <th>{{amount}}</th>
        <th>{{description}}</th>
        <th>{{date}}</th>
        <th>{{amount}}</th>
        </tr>
</table>
