 
   <td class="tr">{{action}}</td>
    <td>{{sender}}</td>
    <td>{{resiver}}</td>
    <td>{{amount}}</td>
    <td>{{description}}</td>
      {{#if isOwner}}
     <td><a class="btn" href="/editPay/{{id}}">edit</a></td>
    <td><a class="btn" href="/delete/{{id}}">delete</a></td>
   {{/if}}

