<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/site.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/dimo-favi.png" />
    <title>Portfolio</title>
</head>

<body>
    <div class="container">
        <header>
          <ul>
            <li><a href="/"> <img class="logo" src="/static/images/logo-dimo.png"></a></li>
            {{#if hasUser}}
            <li><a href="/administrator">Admin</a></li>
            <li><a href="/logout">Logout</a></li>
            {{else}}
             <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {{/if}}
            <li><a href="/about">About</a></li>
            {{#if hasUser}}
            <li><a href="/userInfo" id="greeting"></a></li>
             {{!-- <li><h4 <b style="color:white">{{user.username}}</b></h4></li> --}}
            {{else}}
            <li><a style="color:white" href="/login" id="greeting"> user: Anonymus</a></li>
            {{!-- <li><h4>user:<a href="/login" style="color:white">Anonymus</a></h4></li> --}}
            {{/if}}
          </ul>
        </header>
             <div class="header_bottom"></div>
                <main>
                
                {{{body}}}
                </main>
     </div>
  <div class="header_bottom"></div>
<footer>&copy; Portfolio: Dimo Yankov Karachorbadzhiev (This site is using Express.js and Handlebars</footer>
  <div class="header_bottom"></div>
</body>

</html>