

<h1>Payment Page</h1>
<p>Expense Tracker</p>


<div class="form">

    <form action="/createPay" method="POST">
   
                        <select placeholder="dasdsa">
                           <option value="">Select Sender Name*</option>
                            <option value="Todor" value="{{car.name}}">Todor Yankov Karachorbadzhiev</option>
                            <option value="Dimo" value="{{car.name}}">Dimo Yankov Karachorbadzhiev</option>
                            <option value="Ivanka" value="{{car.name}}">Ivanka Dimova Karachorbadzhieva</option>
                        </select>

                         <select placeholder="dasdsa">
                           <option value="">Select Resiver Name*</option>
                           <option value="Todor">Todor Yankov Karachorbadzhiev</option>
                            <option value="Dimo">Dimo Yankov Karachorbadzhiev</option>
                            <option value="Ivanka">Ivanka Dimova Karachorbadzhieva</option>
                        </select>

                         <input value="{{date}}" type="date">
        <input type="number" placeholder="0.00*" id="price" name="amount" value="{{car.price}}">
        <textarea id="name" placeholder="Description" name="description">{{car.description}}</textarea>
        <input type="text" placeholder="Add image" id="image" name="imageUrl" value="{{car.imageUrl}}">
        <input type="submit" value="Publish">
    </form>
</div>


