<h1>Edit Listing</h1>
<div class="form">
    {{#with pay}}
    <form action="/editPay/{{id}}" method="POST">
        <select name="sender">
            <option >Select Sender Name*</option>
            <option value="Todor" selected>Todor Yankov Karachorbadzhiev</option>
            <option value="Dimo" name="nameSender">Dimo Yankov Karachorbadzhiev</option>
            <option value="Ivanka" name="nameSender">Ivanka Dimova Karachorbadzhieva</option>
        </select>

            <select name="resiver">
            <option >Select Resiver Name*</option>
            <option  value="Todor">Todor Yankov Karachorbadzhiev</option>
            <option  value="Dimo" selected>Dimo Yankov Karachorbadzhiev</option>
            <option  value="Ivanka">Ivanka Dimova Karachorbadzhieva</option>
        </select>
        <label for="date">Date:</label>
        <input name="date" type="text" value="{{date}}">
        <label for="name">Description</label>
        <textarea id="name" name="description">{{description}}</textarea>
        <label for="image">ImageUrl</label>
        <input type="text" id="image" name="imageUrl" value="{{imageUrl}}">
        <label for="price">Price</label>
        <input type="number" id="price" name="amount" value="{{amount}}">
        <input type="submit" value="Save">
    </form>
    {{/with}}
</div>