{{#with pay}}
<p>Name:</p>
<h1>{{pay.sender}}</h1>
<h1>{{resiver}}</h1>
<img class="cube" src="{{imageUrl}}">
<div class="details">
    <p><span>Description:</span> {{description}}</p>
    <p><span>Price:</span> {{amount}}</p>
    <a class="btn" href="/paymentHistory">Back</a>
    {{#if isOwner}}
    <a class="btn" href="/attach/{{id}}">Attach Accessory</a>
    <a class="btn" href="/edit/{{id}}">Edit</a>
    <a class="btn" href="/delete/{{id}}">Delete</a>
    {{/if}}
</div>
{{/with}}