{{#with pay}}
<h1>{{sender}}</h1>
<img class="cube" src="/static/assets/{{imageUrl}}">
<div class="details">
    <p><span>Description:</span> {{description}}</p>
    <p><span>Price:</span> {{amount}}</p>
    <a class="btn" href="/">Back</a>
    {{#if isOwner}}
    <a class="btn" href="/attach/{{id}}">Attach Accessory</a>
    <a class="btn" href="/edit/{{id}}">Edit</a>
    <a class="btn" href="/delete/{{id}}">Delete</a>
    {{/if}}
</div>
{{/with}}