
           {{#if hasUser}}
         
  <div class="welcome1">{{time}}, {{user.username}}!</div>
            {{else}}
  <section class="welcome1">{{time}}</section>
         
            {{/if}}
<h1>Welcome</h1>
<form action="/" method="GET">
    <input type="text" class="search" name="search" placeholder="Search..." value="{{query.search}}">
    <input type="number" name="from" class="difficulty" placeholder="Price from..." value="{{query.from}}">
    <span>-</span>
    <input type="number" name="to" class="difficulty" placeholder="Price to..." value="{{query.to}}">
    <input type="submit" value="search">
</form>
<div class="container">
      <a class="btnAction" style="color:dark=green" href="/trip">View Trip Site</a>
      <a class="btnAction" style="color:dark=green" href="/paymentHistory">Paiment History</a>
</div>

<script src="/static/js/app.js"></script>




